#btn-preview-mobile {
    display: none;
    background-color: #646cff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 100%;
}

#btn-preview-mobile > svg {
    fill: white;
    width: 35px;
}
