#education {
    display: flex;
    flex-direction: column;
}

#education > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#education > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#education > div > div > input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#education h3 {
    margin: 0;
}
