#header {
    margin-top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#header h1 {
    margin: 0;
    font-size: 2rem;
    margin-right: 20px;
    
}

#header button {
    border-radius: 20px;
    background-color: rgb(81, 81, 172);
    padding: 7px 20px;
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}