#skills {
    display: flex;
    flex-direction: column;
}

#skills > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#skills > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#skills > div > div > input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-add-skill {
    border-radius: 20px;
    background-color: rgb(81, 81, 172);
    padding: 7px 20px;
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.button-skill-x {
    background-color: transparent;
    padding: 5px 10px;
}
