#workExperience {
    display: flex;
    flex-direction: column;
}

#workExperience > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#workExperience > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#workExperience > div > div > input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


#workExperience h3 {
    margin: 0;
}
